body{
    background-image: url(../img/back.jpg);
    background-size: cover;
}

h2{
    color: aliceblue;
    font-size: 30px;
    font: bold;
}

h3{
    color: aliceblue;
}

h4{
    color: sienna;
    font-family: Cambria;
    font-size: 20px;
}
.imgprofile{
    display: block;
    border-radius: 30%;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;

}