body{
    background-image: url(../img/back.jpg);
    background-size: cover;
    
}

/*Profil*/
h2{
    color: white;
    margin-top: 30px;
    font: bold;
    font-size: 30px;
}
h3{
    color: aliceblue;
}

/*header*/
#wrapper{
    margin: auto;
    padding: 0;
    width: 480px;
    height: auto;
}
.wrap .header{
   background-image: url(../img/biru.jpg);
   
}
.titleprofile{
    margin: auto;
    font-family: 'Segoe UI';
    font-size: 22px;
    color: bisque;
    text-align: center;
    padding-bottom: 10px;
}
.photoprofile{
    margin: auto;
}
.imgprofile{
    display: block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;

}
h1{
    color: white;
    margin-top: 100px;
    font: bold;
    font-size: 40px;
}

.clear{
    clear: both;
}
.badan{
    height: 450px;
}

/*bagian sidebar*/
.sidebar{
    float: right;
    padding: 70px;
    width: 400px;
}

.sidebar h3{
    font-weight: bold;
    color: white;
}

.sidebar p{
    color: white;
}

.sidebar img{
    width: 100px;
    height: 100px;
}

/*conten*/
.contents{
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}
.contents h3{
   font-size: 20px;
   font-weight: bold;
    float: left;
    color: black;
}
.contents

/* clearfix*/
.cf::before;
.cf::after;{
    content: " ";
    display: table;
}

.cf::after{
    clear: both;
}

.cf{
    *zoom: 1;
}

/*footer*/
#footer{
    height:50px;
    line-height:50px;
    background:#333;
    color:#fff;
 
    position:absolute;
    bottom:0px;
 
    width:100%; /*biar memenuhi layar*/
}
#wrapper{
    margin: auto;
    padding: 0;
    width: 480px;
    height: auto;
}